@CHARSET "ISO-8859-1";

.specialcard {
	text-align: center;
  	box-shadow: 4px 4px 10px #4CAF50;
  	text-align: center;
  	padding-top: 10px;
  	padding-bottom: 20%;
}

input {
	width: 33%;
	height: 33%;
	border: none;
    border-bottom: 2px solid #4CAF50;
}

#messagebox {
  	text-align: center;
  	margin-left: 500px;
  	margin-right: 500px;
}

input[type=submit] {
	background-color: #4CAF50;
	border-radius: 12px;
	color: white;
	padding: 10px 22px;
	font-size: 16px;
	font-weight: bold;
}